/*mobile small - super thin galaxy fold etc*/
@media (max-width: 300px){

  }
  
  /*mobile small - iphone 6+ SE etc*/
  @media (min-width: 300px) and (max-width: 420px){

  }
  
  /*mobile small - iphone 5 SE etc*/
  @media (min-width: 300px) and (max-width: 399px) and (max-height: 600px){  

  }
  
  /*mobile new - iphone x etc*/
  @media (min-width: 300px) and (max-width: 399px) and (min-height: 700px){  

  }
  
  /*mobile extra long XL*/
  @media (min-width: 400px) and (max-width: 450px) and (min-height: 650px) and (max-height: 900px){  

  }
  /*extra long and thin*/
  @media (min-width: 499px) and (max-width: 768px) and (min-height: 900px){  

  }
  
  /*square*/
  @media (min-width: 768px) and (max-width: 992px) and (max-height: 830px){  

  }
  
  /*ipad pro*/
  @media (min-width: 993px) and (max-width: 1024px) and (min-height: 1280px) and (max-height: 1366px){  

  }

    /*small browser*/
	@media (min-width: 768px)  and (max-height: 730px){  

	}

  @media (max-width: 768px){
	.resume-section{
		min-height: 100vh;
	}
	h1{
		margin-top:-10vh;
	}
	h3{
		margin-top:5vh;
	}
	li.list-inline-item {
		font-size: 2.2rem;
	}
	.subheading{
		font-size: 1.2rem !important;
	}
	.mb-5, .my-5 {
		margin-bottom: 7vh!important;
	}
	.project-rect{
	    width:65%;
	}
}

@media (max-width: 992px){
	body{
		padding-top: 54px;
	}
	h1{
		font-size: 3.4rem;
	}
	h2{
		text-align: center !important
	}
	#sideNav{
		position: fixed;
		width: 100vw;
		z-index: 10;
		top: 0;
		background-color: var(--inti-red) !important;
	}
	.nav-link {
	    padding-left: .5rem !important;
	}

	.w-100-home{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.w-100{
		padding-right: 3rem;
		padding-left: 3rem;
	}
	.home-bg{
		box-shadow: unset !important;
	}
	.section-home{

		margin-bottom: -55px;
	}
	.section-contact{
		background-image: unset;
	}

	.logo-contact{
		display: none;
	}
	.profile-pic-container{
		width: 100%;
		background-color: var(--inti-red);
		font-family: 'Ruda';
		padding-bottom: 1rem;
		padding-left: .7rem;
		padding-right: .7rem;
		color: var(--inti-white);
		text-align: center;
		border-radius: 2px;
	}

	.profile-pic{
		filter: grayscale(80%);
		width: 150px;
		height: auto;
		border-radius: 50%;
		border: solid 5px white;
		margin-top: -15px;
	}
	.parallax {
		/*Make parallax not scroll on mobile*/
		background-attachment: scroll;
	}
	.quote-img{
		margin-left:-4rem;
	}
	.center-text{
		padding-left: auto;
		/*padding-right: 15rem;*/
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.center-element{
		padding-left: auto;
		/*padding-right: 15rem;*/
		align-content: center;
	}
	.center-mobile{
		padding-left: auto;
		/*padding-right: 15rem;*/
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-left: auto;
		/*padding-right: 15rem;*/
		align-content: center;
	}
	.title-inti{
		font-size: 60px !important;
		color: white !important;
	}
	.subheading-inti{
		font-size: 23px !important;
		color: white !important;
	}
	.offer-img img{
		width: 130px;
		height: auto;
		transition: 0.3s;
		margin-top: 40px;
	}
	.offer-img:hover{
		transform: scale(1.2);
	}
	.iw-logo-container{
		width: 38%;
		margin-left: 31%;
		margin-bottom: 10vh;
	}
	.column-33{
		margin-left: .5rem;
	}
}

@media (min-width: 992px) and (max-width: 1230px) {
	.offer-img{
		width: 80px !important;
	}
}
@media (min-width: 992px) {
	/*navbar stuff*/
	#sideNav{
	
	}
	/* Bubble Top Click*/
	.nav-link {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  position: relative;
	  border-color: transparent transparent transparent transparent;
	}
	.nav-link:before {
	  pointer-events: none;
	  position: absolute;
	  z-index: -1;
	  content: '';
	  border-style: solid;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  left: calc(50% - 10px);
	  bottom: 0;
	  border-width: 10px 10px 0 10px;
	  border-color: transparent transparent transparent transparent;
	}
	.nav-link.active:before{
	  -webkit-transform: translateY(10px);
	  transform: translateY(10px);
	  border-color: var(--hvr-white) transparent transparent transparent !important ;
	  z-index: -10;
	}
	
	.nav-link:hover:before{
	  border-color: transparent transparent transparent transparent;
	  z-index: -10;
	}
	/*end navbar stuff*/
	.contact-form{
		display: flex;
	}
	.profile-pic-container{
		float: right;
		width: 40%;
		color: var(--inti-white);
		border-radius: 1px;
		background-image: url("../img/red-noise.png");
		font-family: 'Ruda';
		padding-bottom: 1rem;
		padding-left: .7rem;
		padding-right: .7rem;
		padding-top: 1rem;
	}
	.profile-pic{
		filter: grayscale(30%);
		width: 150px;
		height: auto;
		border-radius: 50%;
		margin-top: -7.5rem;
		transition: 0.3s;
		box-shadow: 0pt 0pt 10pt 5pt rgba(12, 12, 12, 0.2);
		float: right;
	}
	.profile-pic:hover{
		filter: grayscale(10%);
		border: solid 1px var(--inti-red);
	}
	.quote-img{
	margin-left: -3rem;
/* 		margin-left:-21rem; 18 navbar + 3 margin */
	}

	.column-container{
	    width: 100%;
		display: inline-block;
	}
	.column-33{
		width: 33%;
		margin-right: -3px;
		display: inline-block;
	}
	.column-33 img{
		max-width: 100%;
	}
	.column-66{
		width: 66%;
		display: inline-block;
		padding: .5rem;
/* 		background-color: rgba(255, 253, 238, .1); */
	}
	.column-70{
		width: 70%;
		display: inline-block;
	}
	.column-50{
		width: 50%;
		display: inline-block;
	}

	.offer-img{
		width: 150px;
		height: auto;
		transition: 0.3s;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.resume-content {
	    background-image: url("../img/red-noise.png");
	    margin-bottom: .7rem;
	    margin-top: .7rem;
	    padding: .5rem;
	    border-radius: 2px;
	    width: 75%;
/* 	    box-shadow: inset 0 0 10pt 5pt rgb(0, 0, 0, 0.2); */
	}
	.offer-img:hover{
		transform: scale(1.2);
	}
	.hover-shadow:hover{
		background-color: rgba(0, 0, 0, 0.1);
	}
	.hover-light:hover{
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 20%;
	}
	.title-inti{
		font-size: 82px !important;
		color: white !important;
	}
	.subheading-inti{
		font-size: 36px !important;
		color: white !important;
	}
	.center-text{
		padding-left: auto;
		/*padding-right: 15rem;*/
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.center-element{
		padding-left: auto;
		/*padding-right: 15rem;*/
		align-content: center;
	}
	.navbar-dark{
		opacity: 0;
		transition:0.4s;
		filter:blur(1px);
	}
	.bg5{
		background-image: url("../img/modal2/1.jpg");
	}
	.offer-line{
		width: 100%;
/* 		margin-left: -6rem; */
		border-bottom: solid 6px rgb(255, 253, 238);
		border-radius: 1px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	  .rect-tooltip{
	    width:20% !important;
	    height:10rem;
	    display: table-cell;
	    margin-left: 0 !important;
	    margin-right: 0 !important;
	  }
	  .project-rect-container{
		  margin-bottom: 2rem;
	  }
	  .project-rect{
	  	display: block;
	  	width: 100% !important;
		  padding-left: 5%;
		  padding-right: 5%;
		  height: 100% !important;
	  	transition: 0.3s;
	  }
	  .project-rect:hover{
	  	transform: scale(1.1);	
	  }
	  .request-site{
		display: none;
		}
	.social-icons{
		position: absolute;
		top: 3rem;
		right: 2rem;
		padding: 8px 13px;
	}
	  .iw-logo-container{
		position: absolute;
		top: 15vh;
		left: 0;
		margin-left: 35%;
		width: 30%;
		z-index: 5;
	  }
	  .iw-logo-animation{
		  transition: 0.2s !important;
		  /* filter:blur(4px); */
		  transform: scale(0.7) translateY(-7vw);
		  opacity: 0.9 !important;
	  }
	  .home-text{
		transition: 0.2s;
		transition-timing-function: ease-out;
		opacity: 0;
		filter:blur(2px);
	}
	  .home-text-animation{
		opacity: 1;
		transform: translateY(17vh);
		filter: unset;
	}
}

@media (max-height:800px) and (min-height:600px) {

}

@media (max-width: 500px){
	.w-100{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.quote-img{
		margin-left:-2rem;
	}
	.quote-text{
		font-size: 1.2rem;
	}
}

@media (min-width: 1400px){
	.quote-text{
		margin-top: -3.5vh;
	}
}
